@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  select {
    appearance: none;
    background-image: url('/images/caret-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
  }
}
